body {
    color: #bbb8b8;
    background-color: #1f1f1f;
}

.navber {
    padding: 5px 5px;
    text-align: center;
    background-color: black;
}
.navber a {
    margin: 2px 2px;
    color: white;
    text-decoration: none;
}

.typeDiv {
    padding: 20px; 
    margin: 10px 15%;
    border: 2px solid #a3a3bd; 
}
hr {
    color: lightgray;
}
.title {
    margin: 0;
    padding: 0;
    color: #db6a4e;
    text-align: center;
    font-size: 30px;
}

.title a {
    margin: 0;
    padding: 0;
    color: #db6a4e;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #db6a4e;
    
}

.content {
    padding: 10px;
    margin-top: 10px;
    min-height: 100px;
}

.attribute {
    /* text-align: center; */
}

.attribute_image {
    border: 2px solid blue;
}

.BackButton {
    color: white;
    padding: 5px 20px;
    margin-top: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: rebeccapurple;
    box-shadow: 1px 1px 5px lightgray;
}

.codeDiv {
    margin: 30px;
    color: #c2c0c0;
    padding: 20px 30px;
    background-color: #222835;
    border: 2px solid #723b5d;
    margin-top: 1px;
}


.codeRunDiv {
    margin: 30px;
    margin-bottom: 0;
    color: #c2c0c0;
    padding: 10px 20px;
    background-color: #242831;
    border: 2px solid #4c5f79;
    font-size: 20px;
    /* height: 300px; */
}

.codeColorGreen {
    /* color: #00a651; */
    color: #19c26a;
}
.codeColorDarkRed {
    color: #b94c9e;
    /* color: #7c496f; */
}
.codeColorYellow {
    /* color: #ecf58a; */
    color: #cbd36f;
}
.codeColor4 {
    color: #a783dc;
}
.codeColorWhite {
    color: white;
}
.codeColorComment {
    color: rgb(126, 114, 114);
}

.left {
    background-color: #2196F3;
  text-align: center;
  float: left;
  width: 20%;
  height: 50px;
}
.center {
    background-color: #72138a;
    text-align: center;
  float: left;
  width: 57%;
  height: 50px;
}
.right {
    background-color: #04AA6D;
    text-align: center;
  float: left;
  width: 20%;
  height: 50px;
}


.entitiesTable, .entitiesTh, .entitiesTd {
    border: 1px solid rgb(65, 57, 57)
}

/* Use a media query to add a break point at 800px: */

@media screen and (max-width: 2000px) {

    .responsiveSecion{
        height: 50px;
    }
  }

  @media screen and (max-width: 800px) {
    .left, .center, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }

    .responsiveSecion{
        height: 150px;
    }
  }