body {
    color: #bbb8b8;
    background-color: #1f1f1f;
}

.navber {
    padding: 5px 5px;
    text-align: center;
    background-color: black;
}
.navber a {
    margin: 2px 2px;
    color: white;
    text-decoration: none;
}

.typeDiv {
    padding: 20px; 
    margin: 10px 15%;
    border: 2px solid #a3a3bd; 
}
hr {
    color: lightgray;
}
.title {
    margin: 0;
    padding: 0;
    color: #db6a4e;
    text-align: center;
}

.title a {
    margin: 0;
    padding: 0;
    color: #db6a4e;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #db6a4e;
}

.content {
    padding: 10px;
    margin-top: 10px;
    min-height: 100px;
}

.attribute {
    text-align: center;
}

.attribute_image {
    border: 2px solid blue;
}

.BackButton {
    color: white;
    padding: 5px 20px;
    margin-top: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: rebeccapurple;
    box-shadow: 1px 1px 5px lightgray;
}

.codeDiv {
    margin: 30px;
    color: #c2c0c0;
    padding: 20px 30px;
    background-color: #222835;
    border: 2px solid #455366;
}

.codeColorGreen {
    color: #00a651;
}
.codeColorDarkRed {
    color: #a06090;
    /* color: #7c496f; */
}
.codeColorYellow {
    color: #ecf58a;
}
.codeColor4 {
    color: #a783dc;
}
.codeColorWhite {
    color: white;
}

.codeRunDiv {
    margin: 30px;
    color: #c2c0c0;
    padding: 10px 20px;
    background-color: #242831;
    border: 2px solid #455366;
}
